
* {
  padding: 0;
  margin: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.uni-padding {
  padding: 0 70px;
}

body {
 background-color: #191919;
}

/* nav bar style css */
#nav_bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#nav_bar #logo a img {
  height: 75px;
  width: 75px;
  padding-top: 5px;
}

#nav_bar ul {
  margin-left: 130px;
}

#nav_bar ul li {
  display: inline-block;
}

#nav_bar ul li a {
  text-decoration: none;
  color: #A7A7A7;
  padding: 0 20px;
  font-size: 20px;
}

#nav_bar ul li a:hover {
  color: violet;
}

.social a i {
  color: #A7A7A7;
  font-size: 24px;
  padding: 5px;
  margin: 0 2px;
}

.social a i:hover {
  color: violet;
}

/* Landding page section */
.landing_section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
}

.name {
  color: white;
}
.resume{
  color: violet;
  background-color: rgba(255, 255, 255, 1);
  padding: 9px 20px;
  border-radius: 29px;
  border: 0px;
  font-size: larger;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}
.resume:hover{
  box-shadow: 0px 6px 34px -2px violet;
  transition-duration: 500ms;
}
.resume:active{
  scale: 0.9;
  transition-duration: 500ms;
}
.myPhoto>img {
  border-radius: 50%;
  object-fit: contain;
  -webkit-box-shadow: 0px 6px 34px -2px violet;
  -moz-box-shadow: 0px 6px 34px -2px violet;
  box-shadow: 0px 6px 34px -2px violet;
}
/*Bg desine*/

.single-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  z-index: -1;
}
.single-box li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.single-box li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.single-box li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.single-box li:nth-child(3) {
	left: 29%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.single-box li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.single-box li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.single-box li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.single-box li:nth-child(7) {
	left: 75%;
	width: 200px;
	height: 200px;
	animation-delay: 4.5s;
	bottom: -250px;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
/* <!-- My Tech Stack section  --> */
.tech_stack {
  height: 90%;
}

.tech_text {
  text-align: center;
  margin: 20px 0 60px 0;
}

.tech_text p {
  color: #A7A7A7;
  padding: 10px 0;
}

.tech_logo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  justify-content: space-evenly;
  align-content: space-around;
}

.tech_logo img:hover {
  scale: 1.2;
  transition-duration: 500ms;
}

/* projects section  */
.project_text {
  text-align: center;
  margin: 20px 0 40px 0;
}

.project_text p {
  color: #A7A7A7;
  padding: 10px 0;
}

.project_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;

}

/* card */
.p_card {
  height: 460px;
  width: 400px;
  background-color: #363636;
  border-radius: 15px;
  margin-bottom: 100px;
  /* border: 1px solid red; */
}

.p_card:hover {
  -webkit-box-shadow: 0px 6px 34px -2px violet;
  -moz-box-shadow: 0px 6px 34px -2px violet;
  box-shadow: 0px 6px 34px -2px violet;
  transition-duration: 500ms;
}

.p_card img {
  width: 100%;
  height: 265px;
  border-radius: 15px 15px 0px 0px;
}

.p_card h2 {
  padding: 0 15px;
}

.p_card p,
small {
  padding: 8px 15px;
  display: inline-block;
  color: #cccccc;
}

.icon {
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
}

.icon>a:hover,
i:hover {
  color: violet;
}

/* Footer Section css */
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_btm {
  display: grid;
  height: 80px;
  grid-template-columns: 72% 28%;
  align-items: center;
}

.footer_btm>p {
  margin-left: auto;
}

.footer_btm ul li {
  display: inline-block;
  padding: 10px;
}

.footer_btm ul li a {
  text-decoration: none;
  color: #A7A7A7;
  padding: 0 20px;
  font-size: 20px;
}

.footer_btm ul li a:hover {
  color: violet;
}

/* Contact Us Section */
.contactD {
  height: 80vh;
  text-align: center;
  margin:50px auto;
  border-top: 1px solid;
  max-width: 300px;
  background-color: #ffffff15;
  border-radius: 15px;
}

.gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(60deg, violet, #E21143, #FFB03A);
  background-size: 100% 100%;
}
/* css */
#form {
	margin:50px auto;
  background-color: #ffffff15;
  border-radius: 15px;
}
#form p{
  margin-bottom: 15px;
  font-size: small;
}


#form input[type="text"], #form input[type="email"], #form input[type="tel"], #form input[type="url"], #form textarea {
	width:100%;
	border:1px solid #CCC;
  color: #191919;
	background: #ffffff;
  border-radius: 17px;
	margin:0 0 5px;
	padding:10px 10px;
}
::-webkit-input-placeholder {
  color:#888;
 }
#form input[type="text"]:hover, #form input[type="email"]:hover, #form input[type="tel"]:hover, #form input[type="url"]:hover, #form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#form textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#form button[type="submit"] {
	cursor:pointer;
	border:none;
	background:#FFB03A;
	color:#FFF;
  width: 150px;
  border-radius: 17px;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#form button[type="submit"]:hover {
	background:rgb(238, 130, 238);;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#form button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#form input:focus, #form textarea:focus {
	outline:0;
	border:1px solid #999;
}

/* About Section */
.about> :first-child {
  text-align: center;
  padding: 20px;
}

.about-txt {
  background-color: #ffffff15;
  width: 65%;
  margin: 30px auto;
  padding: 45px;
  border-radius: 30px;
  
}

.about-txt>p {
  text-indent: 2em;
  color: #cacaca;
  line-height: 25px;
  font-size: large;
}

.about-txt>p::first-letter {
  font-size: 3em;

}

/* work section */
.work-exp {
  display: flex;
  flex-direction: column;
}

.work {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  height: 70px;
  margin: 10px;
  padding: 10px;
  align-content: space-around;
}

.work:hover {
  background-color: #ffffff15;
  transition-duration: 500ms;
  border-radius: 10px;
  scale: 1.02;
}

.work-exp>h1,
.education>h1,
.tech_text>h1,
.project_text>h1 {
  margin: 60px 0 5px 0;
}

.work>*,
i {
  color: #A7A7A7;
}

.work>hr {
  grid-column-start: 1;
  grid-column-end: 3;
}

.green-btn {
  background-color: #D7FFE0;
  color: #018C0F;
  padding: 6px 15px;
  border-radius: 15px;
  justify-self: end;
  height: fit-content;
}

.green-btn>abbr {
  cursor: pointer;
  color: inherit;
}

